    .body{
        background-image: url(../fuentes/fondo.jpg);
        background-position-y: 80px;
        background-position-x: center;
        background-attachment: scroll;

        }
        /* .nav-link{
        font-family: 'Indie Flower', cursive;
        font-size: 20px;

        } */
        .box {

            /* padding: 5%; */
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 2%;
            display: flex;
            position: absolute;
            width: 30%;
            /* height: 70%; */
            background-color:rgba(31, 113, 126, 0.5);
        }
        .container{
              color: black;
              text-shadow: #FFFFFF;
              font-family: 'Indie Flower', cursive;
              font-size: 30px;
              flex-direction: column;
              position: relative;
              text-align: center;
              background-position: center;
              margin-top: 5%;
          }
