body{
background-image: url(../fuentes/imagenes/fondo.jpg);
background-position-y: 80px;
background-position-x: center;
background-attachment: scroll;

}
.nav-link{
font-family: 'Indie Flower', cursive;
font-size: 20px;

}
