body{
background-image: url(https://1.bp.blogspot.com/-xT0CRF_AuTE/XdWMcKTo10I/AAAAAAAAd9c/XTYWNM7nymw_sjusWqUQzhZ30nEZrdHaQCNcBGAsYHQ/s1600/fondo.jpg);
background-position-y: 70px;
background-position-x: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
.nav-link{
font-family:url('https://fonts.googleapis.com/css?family=Nunito');
font-size: 20px;
}
.dropdown-menu {
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    /* float: left; */
    min-width: 10rem;
    /* padding: .8rem 0; */
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: center;
    list-style: none;
    /* background-color: #6b6b6b; */
}
.dropnab{
  font-family:url('https://fonts.googleapis.com/css?family=Nunito');
  font-size: 20px;
  color: #ffffff;
  background-color: #6b6b6b;
}
.dropdown {
  position: relative;
  /* text-decoration: none; */
}
.dropdown-menu .sub-menu {
  padding: 1px 1px;
  overflow:  hidden;
  left: 100%;
  position: relative;
  top: 0;
  visibility: hidden;
  /* margin-top: 0px; */
  box-shadow:  rgba(0,0,0,0.2);
  font-family: url('https://fonts.googleapis.com/css?family=Nunito');
  font-size: 20px;
  color: rgb(12, 11, 11);
    /* text-decoration: none; */
  background-image: url(../fuentes/imagenes/fondosub1.png);
  background-size: contain;
  width: 300%;
  height: 200%;
  text-align: left;
  /* opacity: 0.8; */
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
  text-decoration: none;

}
.sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    /* top: 10px; */
    text-decoration: none;
}
.sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
    text-decoration: none;
}
.avatar{
  vertical-align: middle;
   width:50px;
  height: 50px;
  border-radius: 50%;
}
.dropbtn
{
  background-color: black;/* #4CAF50;*/
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tema{
margin: 12px 16px;
border-radius: 5px;

}

#color{
background-color:  #343a40;
}

#text #text1 #text2{
  color: rgba(255,255,255,.5);
}

.dropdown-content a:hover {
  background-color: #908E8E
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*esto determina el color de seleccion de item en menu cuando se pasa el puntero*/
.dropdown:hover .dropbtn {
 background-color: #ADACAC;
}
